---
layout: default
---

{% assign events = site.data.events %}

<div class="container">
    <!-- How It Works -->
    <section>
        <div class="row">
            <div class="col-sm-4 hiw">
                <img src="images/hiw-present@2x.png">
                <h2>Present</h2>
                <p class="text-center">Present to an audience of like minded people working in mobile. Design or code - it’s all good.</p>
            </div>
            <div class="col-sm-4 hiw">
                <img src="images/hiw-food@2x.png">
                <h2>Drink &amp; Eat</h2>
                <p class="text-center">What gathering of tech heads is complete without free pizza and drinks?</p>
            </div>
            <div class="col-sm-4 hiw">
                <img src="images/hiw-chat@2x.png">
                <h2>Chit Chat</h2>
                <p class="text-center">Catch up and have a laugh with your fellow peers in the area - let the good vibes roll.</p>
            </div>
        </div>
    </section>
</div>
<!-- Call to action -->
<section class="call">
  {% assign current_datetime_milliseconds = 'now' | date: '%s' %}

  {% for event in events %}
    {% assign event_datetime_milliseconds = event.datetime | date: '%s' %}
    {% if event_datetime_milliseconds >= current_datetime_milliseconds %}
        <div class="container">
            <h1>{{event.datetime}}</h1>
            <h1><small>{{event.location}}</small></h1>
            <p class="text-center">
                <a href="{{event.url}}" class="btn btn-default btn-lg center">
                <span class="logo-eventbrite"></span>
                <span>Grab Your Free "{{event.name}}" Ticket</span>
                </a>
            </p>
        </div>
        {% break %}
    {% endif %}
  {% endfor %}
</section>
<!-- Questions -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Questions? Here's some answers!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Will there be food and drinks!?</h3>
                <p>Yes! Thanks to the unrelenting and incredible support from our sponsors we can provide free pizza and refreshments which will arrive at the meetings at 6.30pm. Get there on time to avoid missing out!
                </p>
                <h3>Do I need to be a developer?</h3>
                <p>Not at all. Anyone with an interest in mobile is welcome.</p>
                <h3>Does it matter if I'm late?</h3>
                <p>You are welcome to join us at anytime during the event. If a presentation is in progress, we ask you to quietly join us so that the talk is not disrupted.</p>
            </div>
            <div class="col-md-4">
                <h3>What do you mean by talk?</h3>
                <p>A talk doesn’t necessarily have to be a presentation, it could merely be a discussion point or quick tip / lesson learnt.</p>
                <h3>What can I talk about?</h3>
                <p>Anything that happens in the lifecycle of Mobile Development. So design, development, testing, requirements. Anything newsworthy about the mobile sector you’d like to discuss.</p>
                <h3>How long can I talk for?</h3>
                <p>Anything from 30 seconds to 20 minutes, inc Q and A. This is to keep the talks short and punchy. If you have a larger topic you would like to discuss contact us at mobiledorset@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h3>What time should I arrive?</h3>
                <p>5:30pm onwards. Hot drinks will be available and mingling. Talks and pizza will be at 6.30pm	</p>
                <h3>How often do you hold events</h3>
                <p>Events are held every second Wednesday of the month and will usually be held in the EBC</p>
                <h3>Who</h3>
                <p>Mobile Dorset is brought to you by Alec Holmes, Greg Hepworth, Jamie Cruwys and Tom Edge. The meetups couldn’t happen without the support of our sponsors.</p>
            </div>
        </div>
    </div>
</section>
</div>
