<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <img class="logo" src="{{ site.url }}/images/header-logo.png" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="detail">Copyright Mobile Dorset {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
