<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
	            <li><a href="{{ "/wall.html" | prepend: site.baseurl }}">Wall</a></li>
                <li><a href="http://mobiledorset.eventbrite.co.uk">Get Ticket</a></li>
                <li><a href="http://twitter.com/mobiledorset">Twitter</a></li>
                <li><a href="https://www.facebook.com/MobileDorset">Facebook</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://3sidedcube.com" target="_blank">3 SIDED CUBE</a></li>
                <li><a href="http://wearebase.com" target="_blank">Base</a></li>
                <li><a href="http://www.bournemouth.ac.uk" target="_blank">Bournemouth University</a></li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <h1>
        <span>Mobile Dorset</span>
        <a href="{{ site.url }}">
        <img src="{{ site.url }}/images/header-logo@2x.png">
        </a>
    </h1>
    <div class="container">
        <div class="sponsors">
            <span>Sponsored by</span>
            <a href="http://wearebase.com" target="_blank">
                <img src="{{ site.url }}/images/sponsor-base@2x.png" width="60">
            </a>
            <a href="http://3sidedcube.com" target="_blank">
                <img src="{{ site.url }}/images/sponsor-3sc@2x.png" width="190">
            </a>
            <a href="http://www.bournemouth.ac.uk" target="_blank">
                <img src="{{ site.url }}/images/sponsor_bu@2x.png" width="57">
            </a>
        </div>
        <h2>Mobile Dorset is an informal gathering of mobile developers, designers and anyone with a passion for mobile in Dorset.</h2>
    </div>
</header>